<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Редактирование статьи</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{/style/style11.css}" />
</head>

<body>
<main>
    <header id="app-header" class="app-header">
        <div class="background-container">
            <div id="background-back" class="background"></div>
            <div id="background-front" class="background"></div>
        </div>

        <div class="header-content">
            <div id="small-toolbar" class="app-toolbar">
                <div id="small-title" class="small-title">Научный журнал</div>
            </div>

            <div id="large-toolbar" class="app-toolbar tall">
                <div id="large-title" class="large-title">Научный журнал</div>
            </div>
        </div>
    </header>
    <div class="card">
        <div class="card-title">Редактирование статьи</div>
        <div th:each="field : ${article}">
            <form method="post">
                <label>
                    Наименование статьи
                    <input type="text" name="name" th:value="${field.name}">
                </label>
                <label>
                    <input type="hidden" name="countPages" th:value="${field.countPages}">
                </label>
                <label>
                    <input type="hidden" name="countVisits" th:value="${field.countVisits}">
                </label>
                <label>
                    <input type="hidden" name="stateArticle" th:value="${field.state}">
                </label>
                <br>
                <label>
                    Ссылка на картинку
                    <input type="text" name="pictureRef" th:value="${field.pictureRef}">
                </label>
                <br>
                <label>
                    Выбор категории
                    <select id="category" name="categoryArticle">
                        <option th:each="categoryArticle : ${T(com.example.model.Enums.Categories).values()}"
                                th:value="${categoryArticle}"
                                th:text="${categoryArticle}">
                        </option>
                    </select>
                </label>
                <br>
                <button type="submit">Обновить</button>
            </form>
        </div>
    </div>
</main>

<script th:src= "@{https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>