<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Список статей</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" th:href="@{/style/style.css}" />
    </head>

    <body>
        <main>
        <header id="app-header" class="app-header">
        <div class="background-container">
          <div id="background-back" class="background"></div>
          <div id="background-front" class="background"></div>
        </div>

        <div class="header-content">
          <div id="small-toolbar" class="app-toolbar">
            <div id="small-title" class="small-title">Научный журнал</div>
          </div>

          <div id="large-toolbar" class="app-toolbar tall">
            <div id="large-title" class="large-title">Научный журнал</div>
          </div>
        </div>

        <div id="header">
        <div id="navigation">
            <ul id="menu">
                <li><a href="">Профиль</a></li>
                <li><a href="autorization">Войти</a></li>
            </ul>
        </div>
        </div>
        </header>
        <div class="card">

        <div class="card-title">Title</div>
            <table>
                <caption>Статьи</caption>
                <tr th:each="article : ${articles}">
                    <td th:text="${article.name}"></td>
                    <td th:text="${article.countPages}"></td>
                    <td th:text="${article.countVisits}"></td>
                    <td th:text="${article.pictureRef}"></td>
                    <td th:text="${article.statesArticle.getState()}"></td>
                    <td th:text="${article.categoriesArticle.getCategory()}"></td>
                    <td><a th:href="'/article/' + ${article.id}">Открыть</a></td>
                </tr>
            </table>

            <form method="get" th:action="@{/new_article/}">
                <input type="submit" value="Добваить новую статью">
            </form>
        </div>
        </main>
      <script th:src= "@{https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js}"></script>
      <script th:src="@{/js/index.js}"></script>
    </body>
</html>
